{% load staticfiles %}
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Poppins", sans-serif
    }

    body {
        font-size: 16px;
    }

    .w3-half img {
        margin-bottom: -6px;
        margin-top: 16px;
        opacity: 0.8;
        cursor: pointer
    }

    .w3-half img:hover {
        opacity: 1
    }
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding"
     style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
    <a href="javascript:void(0)" onclick="w3_close()"
       class="w3-button w3-hide-large w3-display-topleft"
       style="width:100%;font-size:22px">Close Menu</a>
    <div class="w3-container">
        <h3 class="w3-padding-64">{{ company.name }}</h3>
    </div>
    <div class="w3-bar-block">
        <a href="#" onclick="w3_close()"
           class="w3-bar-item w3-button w3-hover-white">ДомоЧатец</a>
        <a href="#problem" onclick="w3_close()"
           class="w3-bar-item w3-button w3-hover-white"><b>П</b>роблема</a>
        <a href="#idea" onclick="w3_close()"
           class="w3-bar-item w3-button w3-hover-white"><b>И</b>дея</a>
        <a href="#solution" onclick="w3_close()"
           class="w3-bar-item w3-button w3-hover-white"><b>Р</b>ешение</a>
        <a href="#packages" onclick="w3_close()"
           class="w3-bar-item w3-button w3-hover-white"><b>В</b>недрять и
            монетизировать</a>
        <a href="#contact" onclick="w3_close()"
           class="w3-bar-item w3-button w3-hover-white">Планы</a>
    </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
    <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right"
       onclick="w3_open()">&#9776;</a>
    <span>{{ company_name }}</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()"
     style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">
    <!-- Header -->
    <div class="w3-container" style="margin-top:80px" id="problem">
        <h1 class="w3-xxxlarge w3-text-red">Проблема.</h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <h4>
            <b><s>Разруха и произвол</s></b>
            <p>ТСЖ и УК не могут контролировать общение внутри
                жилого дома - организовывать проведение собраний, вести их
                учет.</p>
            <p>Жители сами собираются в чаты, без ТСЖ, сами о чем-то
                общаются, а ТСЖ не в курсе проблем жильцов.</p>
            <p>Отсюда - негатив в отношении ТСЖ.</p>

        </h4>
        <img src="{% static 'hoa_meeting.png' %}" width="90%">
    </div>
    <!-- Modal for full size images on click-->
    <div id="modal01" class="w3-modal w3-black" style="padding-top:0"
         onclick="this.style.display='none'">
        <span class="w3-button w3-black w3-xxlarge w3-display-topright">&times;</span>
        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
            <img id="img01" class="w3-image">
            <p id="caption"></p>
        </div>
    </div>

    <!-- Services -->
    <div class="container" id="idea">
        <h1 class="w3-xxxlarge w3-text-red">Идея</h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <h4>
            <p><b>Генерируемые чаты для домов ТСЖ.</b></p>
            <p>У ТСЖ есть несколько домов. мы предлагаем каждому дому по чату -
                единое место общения всех жильцов, где ТСЖ может
                администрировать общение + быстро принимать заявки на
                ремонт.</p>
            <p>Обработка заявок будет вестись через сервис hausmaster.org.</p>
        </h4>
        <img src="{% static 'Hausmaster.png' %}" width="90%">

    </div>

    <!-- Designers -->
    <div class="w3-container" id="solution" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Решение.</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <p><b>Веб-сервис для генерации и администрирования чатов.</b></p>
        <h4><p>ТСЖ в нем регается, заводит себе личный кабинет, и получает
            возможность создавать СОБСТВЕННЫЕ чаты.
            Список чатов есть на отдельной странице, видимой всем жильцам
            ТСЖ.</p>
            <p>В чатах есть боты, которые сразу создают заявки на жалобы,
                поступающие в чате от жильцов.</p>
            <p>Заявки обрабатываются модератором ТСЖ, и отправляются либо в
                hausmaster, либо решаются силами ТСЖ</p></h4>
        <img src="{% static 'hausmaster_integration.jpg' %}" width="90%">
    </div>

    <!-- Packages / Pricing Tables -->
    <div class="w3-container" id="packages" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Внедрение и <s>обогащение</s>
            монетизация.</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">

        <h4><p><b>Продавать как сервис.</b></p>
            <p>В среднем, из ТСЖ в месяц приходит 10 заявок по 200руб.
                Продавать сервис по 2000 в месяц. ТСЖ отбивает стоимость канала
                продаж, а мы зарабатываем</p>

            <p><b>Развивать чат как канал продаж. (Лидогенерация)</b></p>
            <p>Объявления в чате, интересные предложения</p>
        </h4>
    </div>


    <!-- Contact -->
    <div class="w3-container" id="contact" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Планы.</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <h4><p>Таки сделать сервис генерации полного комплекса услуг под ТСЖ. И
            зарабатывать на этом</p></h4>

    </div>

</div>

<!-- End page content -->

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32"
     style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by
    <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS"
       target="_blank" class="w3-hover-opacity"><b>AngelHack.pro</b></a></p></div>

<script>
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }

    // Modal Image Gallery
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
    }
</script>

</body>
</html>